{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-dark text-white">
            <h3>My Profile</h3>
        </div>
        <div class="card-body p-5">
            <h5>Username</h5>
            <p>{{ user.username }}</p>

            <h5>Email</h5>
            <p>{{ user.email }}</p>

            <h5>Date Joined</h5>
            <p>{{ user.date_joined }}</p>

        </div>

    </div>
    <div class="mt-3 d-flex  gap-3">
        <a href="{% url 'edit_profile'%}" class="btn btn-primary mt-3">
            Edit Profile</a>
    
               <a href="{% url 'password_change' %}" class="btn btn-warning mt-3">
            Change Password</a>
    </div>
    
</div>

<div class="container mt-4">
    <div class="row">

        <div class="col-4">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h5>Total Projects</h5>
                    <h2>{{ total_projects }}</h2>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h5>Total Tasks</h5>
                    <h2>{{ total_tasks }}</h2>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-center shadow">
                <div class="card-body">
                    <h5>Completed Tasks</h5>
                    <h2>{{ completed_tasks }}</h2>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}